body {
    margin: 0px;
    padding: 0%;
}

#header {
    text-align: center;
    background-color: #f0f8ff;
    height: 100px;

}

#header #logo {
    left: 10px;
    width: 80px;

}


#mainPageHome h1 {
    color: black;
    font-weight: bold;
    font-size: 20;
}

#mainPageHome p {
    color: rgb(52, 43, 179);
    font-size: 15px;
}